.title-26-500 {
  font-size: 26px;
  font-weight: 500;
}

.title-54-700 {
  font-size: 54px;
  font-weight: 700;
}

.title-md {
  font-size: 66px;
  font-weight: 700;
}

.text-14-400 {
  font-weight: 400;
  font-size: 14px;
}

.text-15-800 {
  font-weight: 800;
  font-size: 15px;
}

.text-16-400 {
  font-size: 16px;
  font-weight: 400;
}

.text-16-700 {
  font-size: 16px;
  font-weight: 700;
}

.text-18-400 {
  font-size: 18px;
  font-weight: 400;
}

.text-18-700 {
  font-size: 18px;
  font-weight: 700;
}

.text-22-500 {
  font-weight: 500;
  font-size: 22px;
}

.text-28-400 {
  font-weight: 400;
  font-size: 28px;
}