.title-md {
  font-size: 66px;
  font-weight: 700;
}

.text-28-400 {
  font-weight: 400;
  font-size: 28px;
}

.text-22-500 {
  font-weight: 500;
  font-size: 22px;
}

.text-14-400 {
  font-weight: 400;
  font-size: 14px;
}
